@media (max-width: 1040px) { .octave2 { display: none } }

#wave { width: 100%; height: 200px; border: 1px solid black }
@media (max-height: 600px) { #wave { height: 100px } }
@media (max-height: 500px) { #wave { display: none } }

.inf { text-align: right; padding-right: 2pt }
.min, .max { width: 3em }
.min { text-align: right }
.max { text-align: left }
.val { text-align: center }
.val input { width: 100% }
#infY { vertical-align: top; text-align: right; padding-right: 2pt }
#infX { vertical-align: bottom; text-align: left; padding-left: 2pt }
#controls { text-align: center } 

.pianoKey {
    border: 1px outset #000;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 2px 2px 0 #777;
    text-align: center;
    height: 300px;
    width: 60px;
    float: left;
    line-height: 450px;
    cursor: pointer;
}
.pianoKey:hover {
    border-style: solid;
}
.pianoKey:active, .pianoKey.active {
    border-style: inset;
    box-shadow: -1px 1px 1px -1px;
}
#sharpKeys {
    position: absolute;
    margin-left: 15px;
}
.sharp {
    height: 150px;
    width: 30px;
    line-height: 150px;
    color: #FFF;
    background: #000;
    margin-left: 30px;
}